# vscode settings folder
.vscode

# executable files
*.a
*.exe

# binary files
*.bin
*.hex

# build temp files
build/
obj/
dep/

# depencies
*.d

# binary names
crypto-flight

# program output files
out/

