# vscode settings folder
.vscode

# executable files
*.a
*.exe

# binary files
*.bin
*.hex

# crypto chalange binaries
crypto-flight

# build temp files
build/
obj/
out/
*/out/
**/out/

# test files
*.test
